.blog-detail-wrapper {
    .single-blog-card {
        a {
            font-size: 18px;
            color: var(--color-gray-3);
            line-height: 22px;
        }
        
        h3.title {
            color: var(--color-gray-3);
            font-size: 24px;
            font-weight: 600;
        }

        img {
            object-fit: contain;
        }

        p {
            font-size: 14px;
            color: var(--color-gray-3);
        }
    }
}