.signup-wrapper {
    .auth-card {
        padding: 20px;
        background: white;
        width: 500px;
        margin: 30px auto;

        h3 {
            font-weight: 500;
            font-size: 19px;
            color: var(--color-gray-3);
        }

        .form-control {
            height: 50px;
            background: var(--color-silver-1);
            color: var(--color-black-1);
            font-size: 14px;
            font-weight: 400;
            color: var(--color-black-2)
        }

        .signup {
            background: var(--color-yellow-1);
            color: var(--color-black-2);

            &:hover {
                background: var(--color-black-1);
                color: white;
            }
        }
    }
}