.forgot-password-wrapper {
    .forgot-password {
        padding: 20px 30px;
        background: white;
        width: 500px;
        margin: 30px auto;

        h3 {
            font-weight: 500;
            font-size: 19px;
            color: var(--color-gray-3);
        }

        p {
            font-size: 14px;
            color: var(--color-gray-3);
        }

        .form-control {
            height: 50px;
            background: var(--color-silver-1);
            color: var(--color-black-1);
            font-size: 14px;
            font-weight: 400;
            color: var(--color-black-2)
        }
    }
}