.cart-wrapper {
    .cart-header,
    .cart-data {
        border-bottom: 1px solid #eaeaea;

        h4 {
            font-size: 13px;
            color: var(--color-gray-3);
        }

        .cart-col-1 {
            width: 40%;

            p {
                color: var(--color-gray-3);
                font-size: 14px;
            }
        }

        .cart-col-2 {
            width: 10%;

            h5 {
                font-size: 14px;
                color: var(--color-black-2);
            }
        }

        .cart-col-3 {
            width: 15%;
        }

        .cart-col-4 {
            width: 15%;
        }
    }

    .cart-header {
    }

    .cart-data {
    }
}
