.blog-card {
    background: white;
    border-radius: 10px;

    .blog-image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .blog-content {
        padding: 15px;

        p.date {
            font-size: 13px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0;
            padding: 0;
            color: var(--color-gray-3);
        }

        h5.title {
            font-size: 18px;
            color: var(--color-black-1);
        }

        p.desc {
            font-size: 13px;
            line-height: 22px;
            color: var(--color-gray-3);
        }
    }
}
