.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    width: 100%;

    &:hover .action-bar {
        right: 15px;
    }

    .wishlist-icon {
        right: 15px;
        top: 8%;
        cursor: pointer;
    }

    &:hover .product-image > img:nth-child(1) {
        display: none;
    }

    &:hover .product-image img:nth-child(2) {
        display: block;
    }

    .product-image img {
        height: 270px;
        object-fit: cover;
    }

    .product-image img:nth-child(2) {
        display: none;
    }

    .product-details {
        h6 {
            color: var(--color-orange-1);
            font-size: 13px;
        }

        h5 {
            font-size: 15px;
            color: var(--color-black-2);
        }

        p.description {
            font-size: 13px;
            color: var(--color-gray-3);
            margin-right: 25px;
        }

        p.price {
            font-size: 16px;
            color: var(--color-black-2);
        }
    }

    .action-bar {
        top: 15%;
        right: -10%;
        transition: 0.3s;

        .btn-action {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;

            img {
                transition: 0.2s ease;
            }

            img:hover {
                scale: (1.02);
            }
        }
    }
}

.gr-3 {
    width: 24%;
}

.gr-4 {
    width: 32%;

    .product-card {
        .product-image {
            width: 100%;

            img {
                margin: auto;
            }

            .product-image img:nth-child(1) {
                display: block;
            }
        }
    }
}

.gr-6 {
    width: 49%;

    .product-image img {
        margin: auto;
    }
}

.gr-12 {
    width: 100%;

    .product-card {
        display: flex;
        gap: 20px;
        height: fit-content;

        .product-image img {
            height: auto;
        }

        .action-bar {
            top: 20%;
        }
    }
}

// .product-card.randomProduct {
//     box-shadow: 0px 0px 2px lightgrey;
//     padding: 5px;

//     .product-image img {
//         height: 150px;
//         object-fit: cover;
//     }

//     &:hover .product-image > img:nth-child(1) {
//         display: block;
//     }

//     &:hover .product-image img:nth-child(2) {
//         display: none;
//     }

//     .product-image img:nth-child(2) {
//         display: none;
//     }

//     .product-details {
//         h6 {
//             color: var(--color-orange-1);
//             font-size: 10px;
//         }

//         h5 {
//             font-size: 12px;
//             color: var(--color-black-2);
//         }

//         p.price {
//             font-size: 13px;
//             color: var(--color-black-2);
//         }
//     }
// }
