@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Rubik', sans-serif;
}

:root {
  --color-black-1: #131921;
  --color-black-2: #1c1c1b;
  --color-gray-1: #3b4149;
  --color-gray-2: rgba(255, 255, 255, 0.1);
  --color-gray-3: #777777;
  --color-dark-blue-1: #232f3e;
  --color-yellow-1: #febd69;
  --color-orange-1: #bf4800;
  --color-silver-1: #f5f5f7;
  --color-silver-2: #ededed;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

/* Sharing CSS */
.btn-buynow {
  background: var(--color-dark-blue-1);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 28px;
  transition: 0.3s ease;
}

.btn-buynow:hover {
  background: var(--color-yellow-1);
  color: var(--color-black-1);
}