.home-wrapper-1 {
    .main-banner {
        .main-banner-content {
            top: 15%;
            left: 5%;

            h4 {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color-orange-1);
                margin: 0 0 12px;
                letter-spacing: 0.3px;
                text-transform: uppercase;
            }

            h5 {
                font-size: 52px;
                line-height: 64px;
                letter-spacing: -2px;
                font-weight: 500;
                text-transform: none;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.4px;
                color: var(--color-black-1);
            }
        }
    }

    .small-banner {
        width: 49%;

        .small-banner-content {
            top: 25%;
            left: 10%;
            padding-right: 40%;

            h4 {
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: var(--color-orange-1);
                margin: 0 0 12px;
                letter-spacing: 0.3px;
                text-transform: uppercase;
            }

            h5 {
                font-size: 22px;
                line-height: 34px;
                letter-spacing: -2px;
                font-weight: 500;
                text-transform: none;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.4px;
                color: var(--color-black-1);
            }
        }
    }
}

.home-wrapper-2 {
    background: var(--color-silver-1);

    .services {
        p {
            font-size: 13px;
            color: gray;
        }
    }

    .categories {
        background: white;
        box-shadow: 0 0 10px #0000001a;
        padding: 15px;

        & > div {
            width: 25%;
            padding: 10px 10px 10px 20px;
            height: 200px;

            img {
                width: 80%;
                height: 80%;
            }
        }

        & > div > div {
            width: 60%;
        }

        & > div:nth-child(1),
        & > div:nth-child(2),
        & > div:nth-child(3),
        & > div:nth-child(4) {
            border-bottom: 1px solid var(--color-silver-2);
        }

        & > div:nth-child(1),
        & > div:nth-child(2),
        & > div:nth-child(3),
        & > div:nth-child(5),
        & > div:nth-child(6),
        & > div:nth-child(7) {
            border-right: 1px solid var(--color-silver-2);
        }
    }
}

.marquee-wrapper {
    .marquee-inner-wrapper {
        background: white;
        box-shadow: 0 0 10px #0000001a;
        padding: 15px;
    }
}

.section-heading {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
}
